<!-- loader -->
<ngx-spinner class="myspiner" bdColor="rgba(51,51,51,0.8)" size="large" color="#fff" loadingText="Loading..."
    type="ball-clip-rotate-pulse">
</ngx-spinner>
<div class="container" style="text-align: center">
    <div class="row">

        <div class="col-12">
            <h6 class="display-4">Some thing went wrong :-(</h6>
            <img src="../../../assets/something-went-wrong.gif" class="img-fluid">
        </div>
        <div class="col-12" style="margin-top: -1.5rem;">
            <a style="text-decoration-line: none;" [routerLink]="['/']">Go back to login</a>
        </div>
    </div>
    <br>
</div>