<!-- loader -->
<ngx-spinner class="myspiner" bdColor="rgba(51,51,51,0.8)" size="large" color="#fff" loadingText="Loading..."
    type="ball-clip-rotate-pulse">
</ngx-spinner>
<div class="container-fluid" style="margin-top: -2rem;">

    <div class="row">

        <div class="col-12 col-sm-4 col-md-4 col-lg-3 col-xl-3 displayNoneMobile"
            style="background-color: rgb(217, 230, 238);min-height: 60vh;">
            <br>
            <h5 style="text-align: center" class="handOnHover" (click)="getOwnList()">{{userName | titlecase}}</h5>

            <button type="button" style="width: 100%" class="btn btn-success" data-toggle="modal"
                data-target="#createList">
                Create a list
            </button><br><br>

            <!-- createList Modal -->
            <div class="modal fade" id="createList" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Create a new list</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label>List Name</label>
                                <input type="text" class="form-control" #listTitle="ngModel" [(ngModel)]="listName"
                                    name="listName" aria-describedby="listNameHelp" placeholder="Enter a new list name"
                                    required>
                            </div>
                            <div class="form-group">
                                <label>Private</label>
                                <select [(ngModel)]="privateCategory" #category="ngModel" name="privateCategory"
                                    class="form-control" id="category" required>
                                    <option *ngFor="let category of possibleCategories"
                                        [value]="category=='Yes'?true:false">{{category}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary"
                                [disabled]="!listTitle.valid || !category.valid" (click)="createAList()">Create</button>
                        </div>
                    </div>
                </div>
            </div>

            <h6 style="text-align: center;background-color: gray;color: ghostwhite">Friends</h6>
            <div *ngIf="friendsList.length>0">
                <div class="userPresence clearfix cursorPointer" *ngFor="let friend of friendsList">
                    <app-user-details [userFirstName]="friend.friendName" [userLastName]="''" [userStatus]=""
                        [messageRead]="" (click)="getFriendsList(friend)"></app-user-details>
                </div>
            </div>
            <div *ngIf="friendsList.length<1">
                <p style="text-align: center">You don't have friends yet :(</p>
            </div>
            <form #searchFriendForm="ngForm" (ngSubmit)="searchFriend()">

                <div class="input-group mb-3">
                    <input type="text" class="form-control" #friendsSearch="ngModel" [(ngModel)]="searchName"
                        name="searchName" placeholder="Enter Friend's Full Name" aria-label="Recipient's username"
                        aria-describedby="basic-addon2" required>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit"
                            [disabled]="!searchFriendForm.form.valid">Search Friends</button>
                    </div>

                </div>
            </form>
            <div class="userPresence clearfix cursorPointer" *ngIf="searchedFriend">
                <app-user-details [userFirstName]="searchedFriend.fullName" [userLastName]="''" [userStatus]=""
                    [messageRead]=""></app-user-details>
                <br> &nbsp;&nbsp;
                <button type="button" class="btn btn-outline-primary"
                    (click)="addFriend(searchedFriend.userId, searchedFriend.fullName)">Add Friend</button>
            </div>
            <button (click)="logout()" style="width: 100%" class="btn btn-danger">Logout</button>
        </div>

        <div class="col-12 col-sm-8 col-md-8 col-lg-9 col-xl-9" style="margin-top: 0rem;">
            <div style="text-align: right">
                <button type="button" class="btn alert-primary" data-toggle="modal" data-target="#notifications">
                    Notifications
                    <span class="badge badge-success">{{notificationData.length}}</span>
                </button>
            </div>

            <!-- Notification Modal -->
            <div class="modal fade" id="notifications" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Pending Requests</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div *ngIf="notificationData.length>0">
                                <div *ngFor="let notifies of notificationData">
                                    <div class="clearfix cursorPointer">
                                        <div class="userPresence">
                                            <app-user-details [userFirstName]="notifies.senderName" [userLastName]="''"
                                                [userStatus]="" [messageRead]=""></app-user-details>
                                            <br>
                                            &nbsp;&nbsp;<button type="button" class="btn btn-outline-success"
                                                (click)="acceptRequest(notifies)">Yes</button>&nbsp;
                                            <button type="button" class="btn btn-outline-danger"
                                                (click)="rejectRequest(notifies)">No</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="notificationData.length<1">
                                No notifications at present for you!!
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" *ngIf="userPrivateList.length>0 || userPublicList.length>0">
                <!-- private list -->
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4" *ngFor="let list of userPrivateList">

                    <div class="card bg-success" style="text-align: center">
                        <div class="card-header whiteText">
                            {{list.createdOn | date}}
                        </div>
                        <div class="card-body whiteText">
                            <h5 class="card-title">List Name: {{list.listName}}</h5>
                            <p>{{list.private?'Private': 'Public'}}</p>

                            <a class="btn bg-light" [routerLink]="['/description',list.listId]">View</a>
                        </div>
                    </div>
                    <br>

                </div>

                <!-- public list -->
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4" *ngFor="let list of userPublicList">

                    <div class="card bg-danger" style="text-align: center">
                        <div class="card-header whiteText">
                            {{list.createdOn | date}}
                        </div>
                        <div class="card-body whiteText">
                            <h5 class="card-title">List Name: {{list.listName}}</h5>
                            <p>{{list.private?'Private': 'Public'}}</p>

                            <a class="btn bg-light" [routerLink]="['/description',list.listId]">View</a>
                        </div>
                    </div>
                    <br>

                </div>

            </div>

            <div style="text-align: center" *ngIf="userPrivateList.length<1 && userPublicList.length<1">
                <i class='fa fa-list' style='font-size: 15rem;color:black;'></i>
                <h6 class="display-4">You have'nt created any list yet.Create a list!!</h6>

            </div>

        </div>

    </div>

</div>